/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  z-index: 2000;
}

#nprogress .bar {
  background: #2ea195;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #2ea195, 0 0 5px #2ea195;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

a {
  text-decoration: none;
}
